<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글 페이지</title>
</head>

<body>
    <header id="header"></header>

    <main>
       <header>
           <h1>첫번째 글</h1>
       </header>

        <aside>
            <p><span>Go</span></p>
            <p><a href="mailto:koa789456@gmail.com">koa789456@gmail.com</a></p>
            <p><time datetime="2024-01-01T00:00:00">2024-01-01</time></p>
            <p>#java</p>
        </aside>
    </main>

    <footer id="footer"></footer>
</body>
</html>
